# Visual Studio
/.vs
**.sln
**.vcxproj
**.vcxproj.user
*.exe
*.dll

# Build Output
/build

# VCPKG Dependencies
/vcpkg_installed

# Personal Config File
config.lua
/data/world

# CLion and other JetBrains tools
/.idea
/Black-Tek-Server.pdb
